<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>Мир Юрского Периода</string>
		<key>fileName</key>
		<string>mirUP</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/594554/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Битва за Севастополь</string>
		<key>fileName</key>
		<string>bitvaZaSevastopol</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/742026/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>Мстители</string>
		<key>fileName</key>
		<string>mstitely</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/679830/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>Из машины</string>
		<key>fileName</key>
		<string>exMashina</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/197532/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>Kingsman</string>
		<key>fileName</key>
		<string>kingsman</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/749540/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>Разлом Сан-Андреас</string>
		<key>fileName</key>
		<string>razlom</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/652692/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>Терминатор: Генезис</string>
		<key>fileName</key>
		<string>terminator</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/436225/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>Фантастическая четверка</string>
		<key>fileName</key>
		<string>fantasticFour</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/471642/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>Ускорение</string>
		<key>fileName</key>
		<string>uskorenie</string>
		<key>kpLink</key>
		<string> http://m.kinopoisk.ru/movie/797587/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>Человек-муравей</string>
		<key>fileName</key>
		<string>muravei</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/195496/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>Пиковая дама</string>
		<key>fileName</key>
		<string>pikovaDama</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/880665/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>Темные тайны</string>
		<key>fileName</key>
		<string>darkPlaces</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/681657/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>name</key>
		<string>Хитмэн: Агент 47</string>
		<key>fileName</key>
		<string>agent47</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/737668/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>name</key>
		<string>Перевозчик: Наследие</string>
		<key>fileName</key>
		<string>perevozchik</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/764608/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>name</key>
		<string>Падение Лондона</string>
		<key>fileName</key>
		<string>padenieLondona</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/806977/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>name</key>
		<string>Пэн: Путешествие в Нетландию</string>
		<key>fileName</key>
		<string>pan</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/808093/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>name</key>
		<string>Последний охотник на ведьм</string>
		<key>fileName</key>
		<string>lastHunter</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/506066/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>17</integer>
		<key>name</key>
		<string>Звёздные войны: Пробуждение силы</string>
		<key>fileName</key>
		<string>starWars</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/714888/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>18</integer>
		<key>name</key>
		<string>Мафия</string>
		<key>fileName</key>
		<string>mafia</string>
		<key>kpLink</key>
		<string> http://m.kinopoisk.ru/movie/839253/</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>19</integer>
		<key>name</key>
		<string>Джем и голограммы</string>
		<key>fileName</key>
		<string>jem</string>
		<key>kpLink</key>
		<string>http://m.kinopoisk.ru/movie/840285/</string>
	</dict>
</array>
</plist>
